<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
              content="Light-weight version of GUDLFT competition booking platform">
        <meta name="keywords" content="competition, booking">
        <title>Summary | GUDLFT Registration</title>
        <link rel="stylesheet"
              type="text/css"
              href="{{ url_for('static',filename='style.css') }}">
    </head>
    <body>
        <h2>Welcome, {{ club['email'] }}</h2>
        <a href="{{ url_for("logout") }}">Logout</a>
        {% include 'message.html' %}
        Points available: {{ club['points'] }}
        <h3>Competitions:</h3>
        <ul>
            {% for comp in competitions %}
                <li>
                    {{ comp['name'] }}
                    <br />
                    Date: {{ comp['date'] }}
                </br>
                Number of Places: {{ comp['numberOfPlaces'] }}
                {% if comp['numberOfPlaces']|int >0 %}
                    <a href="{{ url_for('book',competition=comp['name'],club=club['name']) }}">Book Places</a>
                {% endif %}
            </li>
            <hr />
        {% endfor %}
    </ul>
</body>
</html>
